# **Day 6: Supervised Learning Review**
---

### **Description**

In today's lab, we will review everything we have seen so far. This is your chance to clarify any points of confusion and ultimately ensure your comfort with the fundamentals of supervised machine learning from exploratory data analysis to evaluating linear regression models.

<br>

### **Structure**

**Part 1**: [[OPTIONAL] Exploratory Data Analysis Review](#p1)

**Part 2**: [[OPTIONAL] Data Visualization Review](#p2)

**Part 3**: [[OPTIONAL] Linear Regression Review](#p3)

**Part 4**: [2015 World Happiness Report Project](#p4)

**Part 5**: [[OPTIONAL] Homework Practice](#p3)


<br>

### **Learning Objectives**

By the end of this lab, you will:
* Understand how to perform exploratory data analysis before applying ML.
* Understand how to implement and evaluate Linear Regression models in sklearn.

<br>

### **Resources**
* [EDA with pandas Cheat Sheet](https://docs.google.com/document/d/1PDHUzx7dHCa6MZBpHFME8IMW3EFtcUj-FHPhi_p6QEE/edit?usp=sharing)

* [Data Visualization with matplotlib Cheat Sheet](https://docs.google.com/document/d/1kRBEo82pP5r5OJ1npGbfubUw2z8aXIKonjW4PXgY4x8/edit?usp=sharing)

* [Linear Regression with sklearn](https://docs.google.com/document/d/1uc4fq5cjOoT1ohol9SR0020ThksWKFjMMnXsvXIPIWE/edit?usp=sharing)



<br>

**Run the code below before continuing.**

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import *

<a name="p1"></a>

---
## **Part 1: [OPTIONAL] Exploratory Data Analysis Review**
---


**Run the code cell below to create the DataFrame.**

In [2]:
# Create a Pandas dataframe from the dictionary
df = pd.DataFrame({'U.S. State': ['California', 'Florida', 'Indiana', 'Texas', 'Pennsylvania'],
        'Population (in millions)': [38, 21, 6.5, 28, 13],
        'Capitol': ['Sacramento', 'Tallahassee', 'Indianapolis', 'Austin', 'Harrisburg'],
        'GDP ($ in billions)': [3700, 1070, 352, 1876, 726]})

#### **Problem #1.1**

What does `.head()` tell you about this DataFrame?

In [15]:
df.head()

     U.S. State  Population (in millions)       Capitol  GDP ($ in billions)
0    California                      38.0    Sacramento                 3700
1       Florida                      21.0   Tallahassee                 1070
2       Indiana                       6.5  Indianapolis                  352
3         Texas                      28.0        Austin                 1876
4  Pennsylvania                      13.0    Harrisburg                  726

#### **Problem #1.2**

What is the datatype of `Population (in millions)`?

In [17]:
df['Population (in millions)'].dtype

dtype('float64')

#### **Problem #1.3**

What is the average `Population (in millions)` size among the U.S. states in the dataset?

#### **Problem #1.4**

Explore rows 4 and 5. What are the U.S. States listed?

#### **Problem #1.5**

Print all of the unique values for `GDP ($ in billions)`.

#### **Problem #1.6**

What are the column names in the dataset?

In [3]:
# column names

#### **Problem #1.7**

What is the total population across all states?

In [4]:
# total population

#### **Problem #1.8**

Which is the highest GDP in the dataset?

In [5]:
# highest GDP

#### **Problem #1.9**

What is the average population of the states?

In [6]:
# average population

#### **Problem #1.10**

What is the `Population (in millions)` for the 3rd state in the dataset?

In [7]:
# population of 3rd state

#### **Problem #1.11**

Which states are included in this dataset?

In [8]:
# list of states

#### **Problem #1.12**

What is the range of GDP values among the states?

In [9]:
# range of GDP values

#### **Problem #1.13**

How many states have a population greater than 20 million?

In [10]:
# list of states with population greater than 20 million

#### **Problem #1.14**

Explore the last row in the dataset.

In [11]:
# last row

#### **[ADVANCED] Problem #1.15**

What is the average `GDP per capita` for the states? Divide `GDP per capita` by `Population (in millions)`.

In [12]:
# average GDP per capita

<a name="p2"></a>

---
## **Part 2: [OPTIONAL] Data Visualization Review**
---

**Run the cell below to load in the data.**

In [13]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vS9jPkeKJ8QUuAl-fFdg3nJPDP6vx1byvIBl4yW8UZZJ9QEscyALJp1eywKeAg7aAffwdKP63D9osF1/pub?gid=169291584&single=true&output=csv"
movie_df = pd.read_csv(url)

movie_df.drop_duplicates(inplace=True)

mean_runtime = movie_df['Runtime'].mean()
movie_df['Runtime'] = movie_df['Runtime'].fillna(mean_runtime)

movie_df = movie_df.rename(columns = {"Runtime": "Runtime (min)"})
movie_df = movie_df.astype({"Runtime (min)": "int64"})

movie_df.head()

,Series_Title,Released_Year,Runtime (min),Genre,IMDB_Rating,Overview,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,142,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
1,The Godfather,1972,175,Crime,9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
2,The Dark Knight,2008,152,Action,9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
3,The Godfather: Part II,1974,202,Crime,9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
4,12 Angry Men,1957,96,Crime,9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000

#### **Problem #2.1**

Create a scatterplot using `Runtime (min)` as the x-axis value and `Gross` as the y-axis value.

Make sure to include a meaningful:
* `Title`: "Gross Money vs. Runtime:
* `X-axis`: "Gross (USD)"
* `Y-axis`: "Runtime (min)"

#### **Problem #2.2**

Create a scatterplot using `Released_Year` as the x-axis value and `Runtime (min)` as the y-axis value.

Make sure to include a meaningful:
* `Title`: "Runtime vs. Released_Year"
* `X-axis`: "Year"
* `Y-axis`: "Runtime (min)"

#### **Problem #2.3**

Create a *lineplot* using `Runtime (min)` as the x-axis value and `Gross` as the y-axis value.

Make sure to include a meaningful:
* Title, ex: `'Gross Money vs. Runtime'`.
* X-axis label including units `'min'`.
* Y-axis label including units `'USD'`.

<br>

**NOTE**: This is not going to be a particularly helpful graph (the scatter plot is a better choice), but we oftentimes will not know this ahead of time. A lot of EDA and visualizations involves trying a number of things and seeing what is useful.

#### **Problem #2.4**

Create a *lineplot* using `Released_Year` as the x-axis value and `Average Gross in Year` as the y-axis value.

Make sure to include a meaningful:
* Title, ex: `'Average Gross Money vs. Released Year'`.
* X-axis label.
* Y-axis label including units `'USD'`.

In [14]:
mean_gross = movie_df.groupby(# COMPLETE THIS LINE

SyntaxError: unexpected EOF while parsing (2632197534.py, line 1)

#### **Problem #2.5**

Create a bar plot of the number of movies released per year.

Use the DataFrame provided, `movies_per_year` and make sure to include a meaningful:
* Title.
* X-axis label.
* Y-axis label.

In [ ]:
movies_per_year = movie_df['Released_Year'].value_counts()

plt.bar(movies_per_year.index, # COMPLETE THIS CODE

#### **Problem #2.6**

Create a bar plot of the number of Dramas released per year.

Use the DataFrame provided, `movies_per_year` and make sure to include a meaningful:
* Title.
* X-axis label.
* Y-axis label.

<br>

**Hint**: Recall that you can use `.loc[CRITERIA, :]` to find all data matching given criteria and the example in Problem #6 for finding the number of movies realeased per year.

In [ ]:
# COMPLETE THIS CODE

<a name="p3"></a>

---
## **Part 3: [OPTIONAL] Linear Regression Review**
---

In this part, we will model the relationship between the numerical features and the `Runtime (min)` variable as the label using linear regression.

#### **Step #1: Load the data**

Reload the data below, even if you did this in Part 2.

In [18]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vS9jPkeKJ8QUuAl-fFdg3nJPDP6vx1byvIBl4yW8UZZJ9QEscyALJp1eywKeAg7aAffwdKP63D9osF1/pub?gid=169291584&single=true&output=csv"
movie_df = pd.read_csv(url)

movie_df.drop_duplicates(inplace=True)

mean_runtime = movie_df['Runtime'].mean()
movie_df['Runtime'] = movie_df['Runtime'].fillna(mean_runtime)

movie_df = movie_df.rename(columns = {"Runtime": "Runtime (min)"})
movie_df = movie_df.astype({"Runtime (min)": "int64"})

movie_df.head()

,Series_Title,Released_Year,Runtime (min),Genre,IMDB_Rating,Overview,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,142,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
1,The Godfather,1972,175,Crime,9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
2,The Dark Knight,2008,152,Action,9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
3,The Godfather: Part II,1974,202,Crime,9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
4,12 Angry Men,1957,96,Crime,9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000

#### **Step #2: Decide independent and dependent variables**

Examining the DataFrame, choose only the numerical variables (other than `Runtime (min)`) for the features and `Runtime (min)` for the label.

In [ ]:
features = # COMPLETE THIS CODE
label = # COMPLETE THIS CODE

#### **Step #3: Split data into training and testing data**

Split the data using a 80 / 20 split.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(# COMPLETE THIS CODE

#### **Step #4: Import your model**

In [ ]:
# COMPLETE THIS CODE

#### **Step #5: Initialize your model and set hyperparameters**


Linear regression takes no hyperparameters, so just initialize the model.

#### **Step #6: Fit your model, test on the testing data, and create a visualization if applicable**

##### **Create a visualization**

Use `y_test` and your `prediction` from the model to create a scatter plot. Then use the following line to visualize where a correct prediction would be. The code has already been given to you.
```
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], '--k', label="Correct prediction")
```

In [ ]:
plt.figure(figsize=(8, 8))

plt.scatter(# COMPLETE THIS CODE
plt.plot(# COMPLETE THIS CODE, '--k', label="Correct prediction")\

plt.xlabel(# COMPLETE THIS CODE
plt.ylabel(# COMPLETE THIS CODE
plt.title(# COMPLETE THIS CODE


plt.legend()

#### **Step #7: Evaluate your model**

Use mean squared error and the R2 score as the evaluation metrics.

#### **Step #8: Use the model**

Using the model we created, predict the disease progression of two new patients:

* Patient 1:  age 45, bmi of 26.3, and average blood pressure of 98

* Patient 2:  age 39, bmi of 22.7, and average blood pressure of 114

**NOTE**: you must create a dataframe containing with the information of the new patients:

```python
new_patient_data = pd.DataFrame(new_patient_data_here, columns =["AGE", "BMI", "BP"])
```

In [ ]:
movie_df.describe()

<a name="p4"></a>

---
## **Part 4: 2015 World Happiness Report Project**
---

### **Description**
In this project, you will use what you have learned so far about the machine learning process and Linear Regression to analyze the official 2015 World Happiness Report from the United Nations. In particular, you will explore and visualize this data and then model the Happiness Score based on the variables reported in this dataset.

<br>


### **Overview**
For this project, you are given data collected for the 2015 UN Happiness Report. The 2015 Happiness Report, also known as the World Happiness Report 2015, is a publication that presents rankings of countries based on their levels of happiness and well-being. The report is a collaborative effort between the Sustainable Development Solutions Network (SDSN) and the Earth Institute at Columbia University, with contributions from various researchers and experts.

<br>

The report includes rankings of 158 countries based on the "World Happiness Index," which is calculated using survey data from the Gallup World Poll and other sources. The index combines factors such as GDP per capita, social support, healthy life expectancy, freedom to make life choices, generosity, and perceptions of corruption to assess overall happiness levels.

<br>

The 2015 Happiness Report sheds light on the relationship between happiness, well-being, and sustainable development, emphasizing the importance of incorporating measures of happiness into policy-making and development strategies. It provides valuable insights into global happiness levels, highlighting the factors that contribute to happiness and offering recommendations for policymakers and individuals to improve overall well-being.

<br>

 Everything you need is provided below. But, if you are curious to learn more the [official source can be found here](https://worldhappiness.report/ed/2015/#appendices-and-data). Here is a list of variables for your reference:

* `Country`: The country that the data corresponds to.

* `Region`: The region that this country is classified as belong to.

* `Happiness Score`: A metric measured in 2015 by asking the sampled people the question: "How would you rate your happiness on a scale of 0 to 10 where 10 is the happiest."

* `GDP`: The extent to which GDP contributes to the calculation of the Happiness Score.

* `Social Support`: The extent to which Family contributes to the calculation of the Happiness Score

* `Health Life Expectancy`: The extent to which Life expectancy contributed to the calculation of the Happiness Score

* `Freedom`: The extent to which Freedom contributed to the calculation of the Happiness Score.

* `Corruption Perception`: The extent to which Perception of Corruption contributes to Happiness Score.

* `Generosity`: A model of the national average of response to the question “Have you donated money to a charity in the past month?” on GDP per
capita.

**NOTE**: All numerical variables except `Happiness Score` have already been standardized.

<br>

### **Key questions to answer**
1. How do these variables, such as `Generosity` or `Freedom`, influence a country's `Happiness Score`?

2. In 2015, which nation had the highest `Happiness Score`? Which nation had the lowest `Happiness Score`?

3. What patterns can be observed visually? What patterns can be observed with deeper data exploration?

<a name="p4.1"></a>

---
### **Part 4.1: Data Exploration, Wrangling, and Visualization**
---

In this part, you will load in and explore the dataset for this project. This will involve using functions from pandas as well as reading source material to understand the data that you are working with.

**NOTE**: In most real world situations, you will not do data exploration, wrangling, and visualization separately as we have done in the past. As such, you will simply be asked to perform tasks throughout this section without explicitly distinguishing between exploration, wrangling, and visualization.

<br>

**Run the code below to load in the data.**

In [ ]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSUoGLZ90Qr6A5-DmdYD30CIEwMqIAmtWSbdcLgi10u5WoCtCuj_RuSm7wDsFsfcwPGRB6ZZDduCxpO/pub?gid=108149846&single=true&output=csv"

happy_df = pd.read_csv(url)

#### **Problem #4.1.1**

Spend a few minutes getting familiar with the data. Some things to consider: how many instances are there? How many features? What are the features' datatypes?

#### **Problem #4.1.2**

This data currently has no consistent naming convention for columns, which is very bad practice. So, rename each column to be of the style, `'Column Name'`, where each word is separated by a space (not an underscore, slash, or anything else) and starts uppercase. Furthermore, make sure all words are spelled correctly.

<br>

**Hint**: It may make you life easier to quickly print the current column names here using the `.columns` attribute.

#### **Problem #4.1.3**

Drop any duplicate rows.

#### **Problem #4.1.4**

Determine the datatypes of each feature. Determine the number of non-null values in each column.

#### **Problem #4.1.5**

You should have seen from Problem #1.4 that there are 3 columns with null values. We need to either impute by filling with the average or drop the rows with null values.


Let's deal with these columns by type, specifically:
1. Impute or drop the numerical null values.
2. Impute or drop the object (string) null values.

##### **1. Impute or drop the numerical null values.**

Complete the code below to *drop* the numerical null values. There's an argument for dropping or imputing, but dropping is a safer choice that does not rely on making any assumptions about these variables.

In [ ]:
happy_df = happy_df.dropna(axis = 0, how='any', subset = [# COMPLETE THIS LINE

##### **2. Impute or drop the object (string) null values.**

Complete the code below to *impute* the object (string) null value(s). This is something we can look up, so it's completely reasonable to fill in the missing values manually and not have to sacrifice more data points.

<br>

**NOTE**: You will likely need to use the following three commands to accomplish this:

1. `happy_df[happy_df['column name'].isnull()]`: Print the specific data point(s) with a null value for `'column name'`.
2. `happy_df['column name'].unique()`: Print the possible values that we could use to fill in the null value found above.
3. `happy_df.loc[happy_df['column name'].isnull(), 'column name'] = 'non-null value'`: Fill in the null value with a new value. This should be the best option from the list of unique values found above.

#### **Problem #4.1.6**

Now that the data should be clean, take some time to understand the variables in this dataset, by looking at the [official statistical appendix/codebook here](https://s3.amazonaws.com/happiness-report/2015/StatisticalAppendixWHR3-April-16-2015.pdf) and answering the multiple choice questions below.

You will only need to refer to the first 2.5 pages of information, until they start mentioning the "expanded data set". You do not need to read anything after this.

<br>

**1. Which of the following best describes the `Happiness Score`?**

>**a.** We can also call this measure the "life ladder”.

>**b.** We can also call this measure the “objective well-being”.

>**c.** This is a measure of how many ladders people own in a country on average. The more ladders, the happier the people.

>**d.** Respondents were asked how happy they were on a scale of 1 - 10.

<br>

**2. How is `Social Support` measured?**

>**a.** This represents the average of responses on a scale of 1 - 10.

>**b.** This is measured differently for each country.

>**c**. Respondents were asked, “If you were in trouble, would you have support?”

>**d.** Respondents were asked, “If you were in trouble, do you have relatives or friends you can count on to help you whenever you need them, or not?”

<br>

**3. How is `Freedom` measured?**

>**a.** This represents the average of responses on a scale of 1 - 10.

>**b.** This is measured differently for each country.

>**c**. Respondents were asked, “Are you satisfied or dissatisfied with your freedom to choose what you do with your life?”

>**d.** Respondents were asked, “How free are you?”

In [ ]:
# ENTER YOUR ANSWER TO 1 HERE

In [ ]:
# ENTER YOUR ANSWER TO 2 HERE

In [ ]:
# ENTER YOUR ANSWER TO 3 HERE

#### **Problem #4.1.7**

Determine the average (mean) and standard deviation (std) of the numerical variables.

#### **Problem #4.1.8**

Determine all the regions that were included in this dataset.

#### **Problem #4.1.9**

Complete the code below to create a new feature called `Region Encoded` that encodes the regions into numerical values.

In [ ]:
region_list = # COMPLETE THIS LINE
region_map = {region_list[i]: i for i in range(len(region_list))}

happy_df['Region Encoded'] = # COMPLETE THIS LINE

happy_df.head()

#### **Problem #4.1.10**

Let's visualize some of the data and see if we can discover some relationships. Specifically, create bar graphs of `Happiness Score` for the countries in several different regions: `"Middle East and Northern Africa"`, `"Southern Asia"`, and `"North America"`.


**NOTE:** Some of the code has already been provided for the first example to help you get started.

##### **Middle East and Northern Africa**

In [ ]:
x = happy_df[happy_df["Region"] == # COMPLETE THIS LINE
y = # COMPLETE THIS LINE

plt.# COMPLETE THIS LINE

plt.title(# COMPLETE THIS LINE
plt.xlabel(# COMPLETE THIS LINE
plt.ylabel(# COMPLETE THIS LINE
plt.xticks(rotation = 90)

plt.show()

##### **Southern Asia**

##### **North America**

#### **Problem #4.1.11**

Now, create scatter plots of `Happiness Score` on the y-axis versus several different numerical variables on the x-axis: `Social Support`, `Freedom`, and `GDP`.

##### **Happiness Score vs. Social Support**

##### **Happiness Score vs. Freedom**

##### **Happiness Score vs. GDP**

#### **Reflection Questions**

1. Is there a noticeable difference in happiness scores between different regions?
2. Does any region display a significant disparity between its country with the highest happiness score and its country with the lowest?
3. How do variables such as `Social Support`, `GDP`, and `Freedom` influence a country's happiness score? Do any variables seem to influence a country's happiness score more than others?
4. What are other relationships between variables that you think may be useful to visualize? What kind of data visualization graph would you use?
5. Consider the conceptual definitions of the features provided in the dataset. Are there any features that seem ambiguous or open to interpretation? How might these conceptual definitions impact the accuracy and reliability of the models when predicting happiness levels?
6. Reflect on the cultural and contextual factors that may influence the interpretation and relevance of the features in different countries. How might the meaning of a specific feature differ across diverse cultural and socioeconomic contexts?

<a name="p4.2"></a>

---
### **Part 4.2: Predicting Happiness Score**
---

Now you will create, evaluate, and train a machine learning model to predict the happiness score of a country based on the provided numerical features.

#### **Step #1: Load in the data**

This step was completed above.

#### **Step #2: Decide independent and dependent variables**

Complete the code below to decide the independent and dependent variables.

<br>

**NOTE**: The dependent variable (label) for all of Part 2 is `Happiness Score`. Using one of several pandas functions, you can determine the numerical features available and use them all as the independent variables.

In [ ]:
happy_df.# COMPLETE THIS LINE

In [ ]:
x = # COMPLETE THIS LINE
y = # COMPLETE THIS LINE

#### **Step #3: Split data into training and testing data**

Complete the code below to split the data, using 80% for training and 20% for testing.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(# COMPLETE THIS LINE

#### **Step #4: Import the algorithm**

We are using `GDP`,	`Social Support`,	`Healthy Life Expectancy`, `Freedom`,	`Corruption Perception`, `Generosity`, and 	`Region Encoded` to predict `Happiness Score`. Which algorithm is best suited for this goal?

#### **Step #5: Initialize the model and set hyperparameters**

For linear regression, there are no hyperparameters to set.

In [ ]:
model_1 = # COMPLETE THIS LINE

#### **Step #6: Fit your model and make a prediction.**

Create a visualization if applicable.

Specifically,

1. Fit the model to the training data and make predictions on the test data.
2. Visualize the results.

##### **1. Fit the model to the training data.**

In [ ]:
model_1.# COMPLETE THIS LINE TO TRAIN
predictions = model_1.# COMPLETE THIS LINE TO PREDICT

##### **2. Visualize the results.**

Compare the true test values versus the predicted values.

#### **Step #7: Evaluate the model's performance**

To complete this step, you will need to recall or find out what evaluation metrics we typically use for whichever type of model you have trained.

#### **Step #8: Use the model**

Specifically,

1. Predict the happiness score of three countries that reported provided results for their numerical measures.

2. Visualize the modeled relationship between `Happinesss Score` and `Social Support` to see if a qualitative relationship can be inferred.

3. Look at the coefficients and intercept to determine the modeled relationships quantitatively.

##### **1. Predict the happiness score of these countries that reported the following results for their numerical measures:**

**Country 1**

* `GDP`: 0.9
* `Social Support`: 0.4
* `Healthy Life Expectancy`: 0.8
* `Freedom`: 0.4
* `Corruption Perception`: 0.2
* `Generosity`: 0.09
* `Region Encoded`: 0

<br>

**Country 2**

* `GDP`: 0.9
* `Social Support`: 0.4
* `Healthy Life Expectancy`: 0.8
* `Freedom`: 0.4
* `Corruption Perception`: 0.2
* `Generosity`: 0.09
* `Region Encoded`: 9

<br>

**Country 3**

* `GDP`: 1.1
* `Social Support`: 0.9
* `Healthy Life Expectancy`: 1.01
* `Freedom`: 0.9
* `Corruption Perception`: 0.1
* `Generosity`: 0.9
* `Region Encoded`: 4

In [ ]:
# COUNTRY 1
new_country = pd.DataFrame([[# COMPLETE THIS LINE]], columns = X_test.columns)

print(model_1.predict(# COMPLETE THIS LINE

In [ ]:
# COUNTRY 2
# COMPLETE THIS CODE

In [ ]:
# COUNTRY 3
# COMPLETE THIS CODE

##### **2. Visualize the modeled relationship between `Happinesss Score` and `Social Support` to see if a qualitative relationship can be inferred.**

##### **3. Complete the cells below to look at the coefficients and intercept to determine the modeled relationships quantitatively.**

In [ ]:
coefficients = model_1.# COMPLETE THIS LINE
intercept = model_1.# COMPLETE THIS LINE

coefficients = pd.DataFrame([coefficients], columns = X_test.columns)
intercept = pd.DataFrame([intercept], columns = ["Happiness Score"])

In [ ]:
print("Coefficients:")
coefficients.head()

In [ ]:
print("\nIntercept:")
intercept.head()

<a name="p5"></a>

---
## **Part 5: [OPTIONAL] Homework Practice**
---



---
### **Part 5.1: [OPTIONAL] Exploratory Data Analysis**
---


**Run the code cell below to create the DataFrame.**

In [ ]:
power_df = pd.read_csv('https://raw.githubusercontent.com/the-codingschool/TRAIN-datasets/main/wind%20generator%20power/power%20-%20T1.csv.csv')

#### **Problem #5.1.1**

Using `.head()`, determine how many variables are included in this dataset.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.2**

Determine if there are any null values in this dataset and, if so, drop the rows they are in.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.3**

Determine if there are any duplicate values in this dataset and, if so, drop the rows they are in.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.4**

It is not possible in this case for the power generated to be negative. Check if there are any entries where `LV ActivePower (kW)` is negative and, if so, drop the rows they are in.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.5**

After potentially dropping rows above, determine how many data points remain in the dataset.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.6**

Using pandas methods, determine the following statistics about this dataset:
* Average of each variable.
* Minimum of each variable.
* Maximum of each variable.
* Standard Deviation of each variable.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.7**

To finish our initial data exploration, let's look at the `Date/Time` variable. Specifically,

1. Look at the first 10 rows of this variable and determine the relationship between this variable and `power_df.index`.
1. Determine how many data points fit into one day.
1. Determine how many days are contained in this dataset.

##### **1. Look at the first 10 rows of this variable and determine the relationship between this variable and `power_df.index`.**

In [ ]:
# COMPLETE THIS CODE

##### **2. Determine how many data points fit into one day.**

Specifically, find the value for `day_len` such that the code below prints out up to `02 01 2018 0:00` at the end.

In [ ]:
day_len = # COMPLETE THIS CODE

power_df['Date/Time'].iloc[0:day_len + 1]

##### **3. Determine how many days are contained in this dataset.**


**Hint**: Use the variable you created above, `day_len`. Be careful about how you approach this though! If you dropped any null values, there may be missing times.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.8**

Plot `LV ActivePower (kW)` over time, using `power_df.index` as the x axis representing time.

In [ ]:
start = # COMPLETE THIS CODE
end = # COMPLETE THIS CODE

x = # COMPLETE THIS CODE
y = # COMPLETE THIS CODE

plt.figure(figsize = (30, 8))
plt.# COMPLETE THIS CODE

plt.xlabel(# COMPLETE THIS CODE
plt.ylabel(# COMPLETE THIS CODE
plt.title(# COMPLETE THIS CODE

plt.show()

#### **Problem #5.1.9**

The plot above contains a *lot* of data and it can be hard to really see any patterns in it. In the space below, create the same plot, but only for the first day's worth of data. **NOTE**: Do not worry about missing/dropped rows, simply use a full 24 hours worth of data.

<br>

**Hint**: Use the `day_len` variable you created in the section above.

In [ ]:
start = # COMPLETE THIS CODE
end = # COMPLETE THIS CODE

x = # COMPLETE THIS CODE
y = # COMPLETE THIS CODE

plt.figure(figsize = (30, 8))
plt.plot(x[start:end], y[start:end])

plt.xlabel(# COMPLETE THIS CODE
plt.ylabel(# COMPLETE THIS CODE
plt.title(# COMPLETE THIS CODE

plt.show()

#### **Problem #5.1.10**

Create a similar plot, but for the first *week's* worth of data. **NOTE**: Do not worry about missing/dropped rows, simply use a full 7 days worth of data.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.11**

Read about the [matplotlib.pyplot.axvline(...) method](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.axvline.html) and use it to create a vertical line on this plot at the beginning of each day.

<br>

**NOTE**: We recommend that you skip this problem for now and come back later if you're curious.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.12**

Create a similar plot, but for the first week's worth of `Wind Speed (m/s)` data on the y axis.

<br>

**NOTE**: You *do not* need to include vertical lines.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.13**

Create a similar plot, but for the first week's worth of `Wind Direction (°)` data on the y axis.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.14**

Now, create a plot to see the relationship between `LV ActivePower (kW)` and `Wind Speed (m/s)`.

<br>

**NOTE**: We will be using `LV ActivePower (kW)` as our label, so it is natural (but not strictly required) to use this as the y variable.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.15**

Create a plot to see the relationship between `LV ActivePower (kW)` and `Wind Direction (°)`.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.16**

Create a plot to see the relationship between `LV ActivePower (kW)` and `Theoretical_Power_Curve (KWh)`.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5.1.17**

It's common that during data visualization, certain aspects of the data will become clear that warrant further modification of the data. In this particular case, these plots have highlighted several aspects of the data that we should consider in our modeling:

1. When `LV ActivePower (kW)` is 0, the other variables can take on a very wide range of values. This is *likely* a sign that we cannot trust the data when `LV ActivePower (kW)` is 0 since it seems to have very little relationship to the other variables, which is not particularly realistic. **NOTE**: This is can be seen by a straight horizontal line of data running along the bottom of the x axis.

2. Similarly, when `Theoretical_Power_Curve (KWh)` is at its maximum, the other variables can take on a wide range of values. **NOTE**: This can be seen by a straight vertical line of data running along the right side of the graph with `Theoretical_Power_Curve (KWh)`.


<br>

Complete the code below to verify the two patterns described above and that this *doesn't* occur for the other variables. **NOTE**: We have provided you the code for `LV ActivePower (kW)` to get you started.

##### **`LV ActivePower (kW)`**

In [ ]:
rows_to_examine = power_df['LV ActivePower (kW)'] == 0

power_df[rows_to_examine].describe()

In [ ]:
rows_to_examine = power_df['LV ActivePower (kW)'] == power_df['LV ActivePower (kW)'].max()

power_df[rows_to_examine].describe()

##### **`Theoretical_Power_Curve (KWh)`**

In [ ]:
# COMPLETE THIS CODE

##### **`Wind Speed (m/s)`**

In [ ]:
# COMPLETE THIS CODE

##### **`Wind Direction (°)`**

In [ ]:
# COMPLETE THIS CODE


---
### **Part 5.2: Modeling `LV ActivePower (kW)` Using Data As Is**
---

In this part, you will use linear regression to model `LV ActivePower (kW)` following our 8 step model implementation process.
Let's start by working with the data as is, instead of considering any adjustments based on Problem #1.2.10 (which you can do in the optional section at the end).

#### **Step #1: Load in the data**

This step was completed above.

#### **Step #2: Decide independent and dependent variables**

`LV ActivePower (kW)` is our label (dependent variable) and every other variable other than `Date/Time` will make up our features.

In [ ]:
x = # COMPLETE THIS LINE
y = # COMPLETE THIS LINE

#### **Step #3: Split data into training and testing data**

Complete the code below to split the data, using 80% for training and 20% for testing.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(# COMPLETE THIS LINE

#### **Step #4: Import the algorithm**

In [ ]:
# COMPLETE THIS CODE

#### **Step #5: Initialize the model and set hyperparameters**

For linear regression, there are no hyperparameters to set.

In [ ]:
model_1 = # COMPLETE THIS LINE

#### **Step #6: Fit your model and make a prediction.**

Create a visualization if applicable.

Specifically,

1. Fit the model to the training data and make predictions on the test data.
2. Visualize the results.

##### **1. Fit the model to the training data.**

In [ ]:
model_1.# COMPLETE THIS LINE TO TRAIN
predictions = # COMPLETE THIS LINE TO PREDICT

##### **2. Visualize the results.**

Compare the true test values versus the predicted values.

#### **Step #7: Evaluate the model's performance**

Specifically,

1. Use $\text{R}^2$, $\text{MSE}$, and $\text{MAE}$ to evaluate this model.

2. Visualize and interpret the residuals.

##### **1. Use $\text{R}^2$, $\text{MSE}$, and $\text{MAE}$ to evaluate this model.**

In [ ]:
# COMPLETE THIS CODE

##### **2. Visualize and interpret the residuals.**

Plot the residuals for each test point and confirm that they are randomly distributed around 0.

In [ ]:
residuals = # COMPLETE THIS LINE

plt.figure(figsize = (8, 5))
plt.scatter(predictions, residuals)

plt.plot([predictions.min(), predictions.max()], [0, 0], color = "black")


plt.title("Residuals Plot", fontsize = "x-large")
plt.xlabel("Predicted Value", fontsize = "x-large")
plt.ylabel("Residuals", fontsize = "x-large")

plt.show()

#### **Step #8: Use the model**

Specifically,

1. Predict the power output for the three three provided data points.

2. Compare these values to the minimum, average, and maximum outputs.

3. Visualize the modeled relationship between `LV ActivePower (kW)` and each of the three features used to see if a qualitative relationship can be inferred.

4. Look at the coefficients and intercept to determine the modeled relationships quantitatively.

##### **1. Predict the power output for the following data points:**

* **Data Point 1: The Minimum** - Each feature for this data point should be the minimum possible value found in the dataset.
* **Data Point 2: The Average** - Each feature for this data point should be the average value found in the dataset.
* **Data Point 3: The Maximum** - Each feature for this data point should be the maximum value found int he dataset.

<br>

**NOTE**: There are several ways to accomplish this, with the easiest relying on pandas methods.

In [ ]:
new_data = pd.DataFrame([[# COMPLETE THIS LINE]], columns = X_test.columns)

print(model_1.predict(# COMPLETE THIS LINE

##### **2. Compare these values to the minimum, average, and maximum outputs.**

Find the minimum, average, and maximum for `LV ActivePower (kW)` and compare to the predicted values above.

<br>

**NOTE**: These are not exactly the actual values we should expect for the data points above, but they are a good way to *loosely* check our model in this case.

In [ ]:
y.describe()

##### **3. Visualize the modeled relationship between `LV ActivePower (kW)` and each of the three features used to see if a qualitative relationship can be inferred.**

Specifically, plot the predicted and actual values in the test set against each feature.

<br>

**NOTE**: Make sure to include proper axis labels, a title, and a legend.

##### **4. Complete the cells below to look at the coefficients and intercept to determine the modeled relationships quantitatively.**

In [ ]:
coefficients = model_1.# COMPLETE THIS LINE
intercept = model_1.# COMPLETE THIS LINE

coefficients = pd.DataFrame([coefficients], columns = X_test.columns)
intercept = pd.DataFrame([intercept], columns = ['LV ActivePower (kW)'])

In [ ]:
print("Coefficients:")
coefficients.head()

In [ ]:
print("\nIntercept:")
intercept.head()


---
### **Part 5.3: Attempting to Improve the Model**
---

In this challenging, optional section, you can work through several ways to *attempt* improving the model by considering the nature of this particular dataset.

#### **Problem #5.3.1**

Let's start by addressing what we observed in Problem #1.2.10. Specifically,
1. Drop any data points where `LV ActivePower (kW)` is 0 or `Theoretical_Power_Curve (KWh)` is at its maximum from the features and labels used for modeling.

2. Perform Steps #2 - 7 with a linear regression model for these modified features and labels, including the visualizations of the model's predictions and residuals.

In [ ]:
# Select only valid data points
power_df = power_df[power_df['LV ActivePower (kW)'] != 0]
power_df = power_df[power_df['Theoretical_Power_Curve (KWh)'] != power_df['Theoretical_Power_Curve (KWh)'].max()]

# Steps #2 - 7
x = # COMPLETE THIS CODE
y = # COMPLETE THIS CODE

X_train, X_test, y_train, y_test = train_test_split(# COMPLETE THIS CODE

model_2 = # COMPLETE THIS CODE
model_2.fit(# COMPLETE THIS CODE
predictions = # COMPLETE THIS CODE

print("R2: " + str(# COMPLETE THIS CODE
print("MSE: " + str(# COMPLETE THIS CODE
print("MAE: " + str(# COMPLETE THIS CODE

In [ ]:
# Visualize comparison of predictions vs. actual values

# COMPLETE THIS CODE

In [ ]:
# Visualize residuals on the test set

# COMPLETE THIS CODE

#### **Problem #5.3.2**

You should have seen an improvement in the results, but still noticed a few items of concern. In particular, notice that the residuals plot is *almost* equally distributed around 0 *except* points that form a nearly straight line changing with predicted value. This was present before, but the fixes in Problem #2.2.1 did not seem to completely address this "oddity".

<br>

This is likely due to the role that *time* plays in our data. This creates complex, correlated relationships between data points meaning that the order of data matters--something that very few models are built to handle. This kind of data, known formally as [time series data](https://en.wikipedia.org/wiki/Time_series), actually requires much deeper and specific statistical tools than what we will explore in this course. However, we can try several different ways of dealing with time.


Let's start by simply including time as a feature so that perhaps our model can learn about it. Specifically,

1. In the modified DataFrame from above, create a new feature called `Time (min)` that equals `power_df.index` times 10.

2. Perform Steps #2 - 7 with a linear regression model for these modified features and labels, including the visualizations of the model's predictions and residuals.

In [ ]:
# Create the Time (min) feature and perform Steps #2 - 7
power_df['Time (min)'] = # COMPLETE THIS CODE

# COMPLETE THIS CODE

In [ ]:
# Visualize comparison of predictions vs. actual values

# COMPLETE THIS CODE

In [ ]:
# Visualize residuals on the test set

# COMPLETE THIS CODE

#### **Problem #5.3.3**

You likely noticed very little difference in the results. Simply including time as a feature is not enough. One aspect of more sophisticated approaches is to predict the *difference* between points instead of the values of the points themselves. This is commonly known as [integration](https://en.wikipedia.org/wiki/Order_of_integration), [lag, or backshift](https://en.wikipedia.org/wiki/Lag_operator).

While the theory behind this can get complex, we can implement it quite simply using the [`.shift(...)` method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shift.html) built into DataFrames that shifts data by a given number of rows.

<br>

Let's use the `.shift(...)` method to predict the difference in data points. Specifically,

1. Instead of `x` and `y`, prepare the variables `x_diffs` and `y_diffs` as our data for modeling such that they represent a shift of 1 row in the `x` and `y` data *without the `Time (min)` variable*.

2. Perform Steps #2 - 7 with a linear regression model for these modified features and labels, including the visualizations of the model's predictions and residuals.

In [ ]:
# Create the shifted dataset and perform Steps #2 - 7
x = # COMPLETE THIS CODE
x_diffs = x - x.shift(1)
x_diffs = x_diffs.dropna(how='any')

y = # COMPLETE THIS CODE
y_diffs = # COMPLETE THIS CODE
y_diffs = # COMPLETE THIS CODE

# COMPLETE THIS CODE

In [ ]:
# Visualize comparison of predictions vs. actual values

# COMPLETE THIS CODE

In [ ]:
# Visualize residuals on the test set

# COMPLETE THIS CODE

#### **Problem #5.3.4**

You should have seen interesting results where the $\text{R}^2$ went down (around 0.72), but all other measures of model performance improved. However, an $\text{R}^2 > 0.7$ is still considered good in practice, particularly given the other markers of success and the many layers of consideration that have been included in our model.

From here, it is a matter of adjusting the exact shift we use and eventually moving onto even more advanced methods such as [ARIMA](https://en.wikipedia.org/wiki/Autoregressive_integrated_moving_average).

<br>

In the space below, explore how changing the amount of shift impacts the model's performance.

In [ ]:
# Create the shifted dataset and perform Steps #2 - 7

# COMPLETE THIS CODE

In [ ]:
# Visualize comparison of predictions vs. actual values

# COMPLETE THIS CODE

In [ ]:
# Visualize residuals on the test set

# COMPLETE THIS CODE

---
#End of Notebook

© 2024 The Coding School, All rights reserved